.footer-wrap
  padding: 25px 0 10px

  .links
    column-count: 2
    width: 85%
    margin: 0 auto 30px

    a
      color: $grey
      display: block
      margin-bottom: 15px
      font-size: 1rem
      font-weight: 300

  @media screen and (min-width: 900px)
    .links
      column-count: 4
      margin-bottom: 0
      width: 75%
      justify-self: flex-end


  .copyright
    display: flex
    flex-direction: row
    justify-content: center

    a
      color: $white

      img
        width: 100px

  @media screen and (min-width: 900px)
    .copyright
      align-items: center

@media screen and (min-width: 900px)
  .footer-wrap
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 85%
    margin: 0 auto
