.stickyNav
  height: 100vh
  position: fixed
  z-index: 100
  width: 100px
  background-color: $white
  transform: translate(-100%)
  transition: transform 0.2s ease-in
  padding-top: 150px
  top: 0

  .wrap
    display: flex
    flex-direction: column
    align-items: center

    a.logo
      margin-bottom: 150px

      img
        transform: rotate(-90deg)
        margin-bottom: 50px
        width: 150px

    #stickyNavTrigger

// show stickyNav
.showStickyNav
  transform: translate(0)
  transition: transform 0.4s ease-in
