/* !
 Theme Name: alex-timber
 Theme URI: http://underscores.me/
 Author: Alex Horton
 Author URI: http://underscores.me/
 Description: A boilerplate setup
 Version: 1.0.0
 License: GNU General Public License v2 or later
 License URI: LICENSE
 Text Domain: alex-twig
 Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

 This theme, like WordPress, is licensed under the GPL.
 Use it to make something cool, have fun, and share what you've learned with others.

 New Astute is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
 Underscores is distributed under the terms of the GNU GPL v2 or later.

 Normalizing styles have been helped along thanks to the fine work of
 Nicolas Gallagher and Jonathan Neal https: */

// ------- COLORS --------- //
$yellow: #f9ac1b
$black: #2b2929
$darkblue: #374552
$grey: #dbdbdb
$silver: #ededed
$white: #fff

// -------- FONTS ----------- //
@font-face
  font-family: "Miller Italic"
  // src: url("fonts/MillerText-Italic.otf")
  src: url("fonts/MillerText-Italic.otf") format("opentype")



$miller: 'Miller Italic'
$titillium: 'Titillium Web', sans-serif
$sans: 'Open Sans', sans-serif

// ------ GLOBAL STYLES -------- //

*
  color: $black

body
  margin: 0

.yellow
  color: $yellow

.italic
  font-family: $miller

h1, h2
  font-family: $titillium
  font-weight: 700

h1
  font-size: 3rem
  // line-height: 153.333333px

@media screen and (min-width: 900px)
  h1
    font-size: 4rem

@media screen and (min-width: 1200px)
  h1
    font-size: 5rem

h2
  font-size: 2rem
  margin-top: 0
  letter-spacing: 1px
  // line-height: 100px

@media screen and (min-width: 900px)
  h2
    font-size: 2.5rem

@media screen and (min-width: 1200px)
  h2
    font-size: 3.5rem

h3
  font-size: 1.6rem
  letter-spacing: 1px

p
  font-family: $sans
  font-weight: 300
  font-size: 1rem
  letter-spacing: 1px

a
  text-decoration: none
  font-family: $sans

.header
  width: 100vw

#footer
  z-index: 101
  position: absolute
  width: 100vw
  background-color: $black

// to allow for sticky nav

@media screen and (min-width: 900px)
  .nonHeroSection
    // width: calc(100% - 100px)
    // margin: 0 0 0 auto

// --- small design elements

.button
  border: 3px solid $black
  padding: 8px 12px
  text-transform: capitalize
  transition: 0.3s
  display: inline
  font-weight: 600
  font-size: 1.2rem
  letter-spacing: 1px

  &:hover
    transition: 0.3s

.thinUppercase
  font-size: 1.5rem
  font-weight: 300
  text-transform: uppercase
  font-family: $sans
  margin: 0
  letter-spacing: 3px

// set background color(s)
.crosshair
  display: grid
  grid: 30px / 30px

  .vert
    grid-area: 1 / 1 / span 1 / span 1
    background-color: $white
    height: 30px
    width: 2px
    justify-self: center

  .horiz
    grid-area: 1 / 1 / span 1 / span 1
    background-color: $white
    width: 30px
    height: 2px
    align-self: center

.crosshair.yellow

  .vert, .horiz
    background-color: $yellow

.crosshair.animation
  transform: rotate(270deg)
  transition: transform 1s ease-in-out

.crosshair.animation.done
  transform: rotate(0deg)
  transition: transform 1s ease-in-out

// ------ COMPONENTS ---------- //
@import 'stationaryNav'
@import 'stickyNav'
@import 'footer'


// ------ TEMPLATES ------- //
@import 'home'







#content
  min-height: 100vh

@media screen and (min-width: 800px)
  #content
    padding-top: 80px

@media screen and (min-width: 900px)
  #content
    padding-top: 0

@media screen and (min-width: 900px)
  .mobileOnly
    display: none !important

@media screen and (max-width: 900px)
  .desktopOnly
    display: none !important
