{% extends "base.twig" %}

{% block content %}

<div class="homepage">

  {% set hero = post.meta('hero') %}
  <section class="hero">
    <div class="img" style="background-image: linear-gradient(rgba(43,41,41, 0.4), rgba(43,41,41, 0.4)), url('{{ TimberImage(hero.img).src }}');"></div>
    <div class="grid">

      <div class="horizontal horizontal1"></div>
      <div class="horizontal horizontal2"></div>

      <div class="vertical verticalLeft"></div>
      <div class="vertical verticalLeftCenter"></div>
      <div class="vertical verticalCenter"></div>
      <div class="vertical verticalRightCenter"></div>
      <div class="vertical verticalRight"></div>

      <div class="crosshair">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <!-- <div class="left">

      </div>

      <div class="right">

      </div> -->

      <div class="heroH1">
        <span class="cycleWrap">
        {% for word in words %}
          <h1 class="cyclingWord" id="word-{{ loop.index }}">{{ word }}</h1>
        {% endfor %}
      </span>
        <h1 class="stationaryH1"><span class="transparentSpacer">Building</span>{{ hero.phrase}}</h1>
      </div>

      <div class="digIn">
        <p class="thinUppercase">{{ hero.scroll_cta }}</p>
        <img src="{{ site.link }}/wp-content/uploads/2019/12/White-Arrow.svg" alt="Dig In!">
      </div>

    </div>
  </section>

  {% set dirt_world = post.meta('dirt_world') %}
  <section class="dirtWorld nonHeroSection">

    <div class="grid">

      <div class="text">
        <h2>{{ dirt_world.h2 }}</h2>
        <p class="bodyText">{{ dirt_world.p }}</p>
      </div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(dirt_world.img).src }}');"></div>
        <div class="triangle"></div>
      </div>

      <div class="crosshair animation">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="vertical verticalLeft"></div>
      <div class="vertical verticalLeftCenter"></div>
      <div class="vertical verticalCenter"></div>
      <div class="vertical verticalRightCenter"></div>
      <div class="vertical verticalRight"></div>

      <div class="quoteBlock">
        <img src="{{ site.link }}/wp-content/uploads/2019/12/Quotes.svg" alt="Block Quotes">
        <div class="quote">{{ dirt_world.quote }}</div>
        <p class="attr">- {{ dirt_world.attr }}</p>
      </div>
    </div>


  </section>

  {% set production_profit = post.meta('production_profit') %}
  <section class="productionProfit nonHeroSection">

    <div class="grid">

      <div class="greyBox"></div>


      <div class="text">
        <h2>{{ production_profit.h2 }}</h2>
        <p class="bodyText">{{ production_profit.p }}</p>
      </div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(production_profit.img).src }}');"></div>
        <div class="triangle">
          <div class="whiteBar"></div>
        </div>
      </div>

      <div class="crosshair yellow animation">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="vertical verticalLeft"></div>
      <!-- <div class="vertical verticalLeftCenter"></div>
      <div class="vertical verticalCenter"></div>
      <div class="vertical verticalRightCenter"></div>
      <div class="vertical verticalRight"></div> -->

      <div class="bigText">
        <div class="topLine line">
          <h1>{{ production_profit.bigText_1 }} &</h1>
          <div class="crossout"></div>
        </div>
        <div class="bottomLine line">
          <h1>{{ production_profit.bigText_2 }}</h1>
          <div class="crossout"></div>
        </div>
      </div>

    </div>

  </section>


  {% set people = post.meta('people') %}
  <section class="people nonHeroSection">

    <div class="grid">

      <div class="text">
        <h2>{{ people.h2 }}</h2>
        <p class="bodyText">{{ people.p }}</p>
      </div>

      <div class="crosshair yellow animation">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <!-- <div class="vertical verticalLeft"></div> -->
      <!-- <div class="vertical verticalLeftCenter"></div> -->
      <div class="vertical verticalCenter"></div>
      <!-- <div class="vertical verticalRightCenter"></div>
      <div class="vertical verticalRight"></div> -->

      <div class="image-grid" id="image-grid">

        <!-- WILL USE REPEATER FIELD FOR THIS WHEN I HAVE BW CREDS FOR ACF PRO -->
        {% include 'pictureList.twig' %}

      </div>

    </div>

  </section>


  {% set mission = post.meta('mission') %}
  <section class="mission nonHeroSection">

    <div class="grid">

      <div class="greyBox"></div>


      <div class="text">
        <h3 class="italic yellow">Our Mission:</h3>
        <h2>{{ mission.h2 }}</h2>
        <p class="bodyText">{{ mission.p }}</p>
      </div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(mission.img).src }}');"></div>
        <div class="triangle">
          <div class="whiteBar"></div>
        </div>
      </div>

      <div class="crosshair yellow animation" id="crosshair1">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="crosshair yellow" id="crosshair2">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="crosshair yellow" id="crosshair3">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="crosshair yellow animation" id="crosshair4">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="horizontal horizontal1"></div>
      <div class="horizontal horizontal2"></div>

      <div class="vertical verticalLeft"></div>
      <!-- <div class="vertical verticalLeftCenter"></div>
      <div class="vertical verticalCenter"></div>
      <div class="vertical verticalRightCenter"></div> -->
      <div class="vertical verticalRight"></div>

      <div class="influence">

        <div class="ourInfluence">
          <p class="thinUppercase">Our Influence</p>
          <img src="{{ site.link }}/wp-content/uploads/2019/12/Yellow-Arrow.svg" alt="Right arrow">
        </div>

        <div class="linkBlock">

          <!-- helps create the div shape -->
          <div class="triangle"></div>

          <div class="yellowBorder">
            <p>{{ mission.influence_p }}</p>
            <div class="buttons">
              <a href="{{ mission.btn_link_1 }}" class="button">{{ mission.btn_text_1 }}</a>
              <a href="{{ mission.btn_link_2 }}" class="button">{{ mission.btn_text_2 }}</a>
              <a href="{{ mission.btn_link_3 }}" class="button">{{ mission.btn_text_3 }}</a>
            </div>
          </div>


        </div>

      </div>

    </div>

  </section>



  {% set real_world = post.meta('real_world') %}
  <section class="realWorld nonHeroSection">

    <div class="grid">

      <div class="greyBox"></div>


      <div class="text">
        <h2>{{ real_world.h2 }}</h2>
      </div>

      <div class="imgBlock">
        <div class="img" style="background-image: url('{{ TimberImage(real_world.img).src }}');"></div>
        <div class="triangle">
          <div class="blackBar"></div>
        </div>
      </div>

      <div class="crosshair yellow animation" id="crosshair1">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <!-- <div class="crosshair yellow" id="crosshair2">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="crosshair yellow" id="crosshair3">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div>

      <div class="crosshair yellow" id="crosshair4">
        <div class="vert"></div>
        <div class="horiz"></div>
      </div> -->

      <div class="horizontal horizontal1"></div>
      <!-- <div class="horizontal horizontal2"></div> -->

      <!-- <div class="vertical verticalLeft"></div>
      <div class="vertical verticalLeftCenter"></div> -->
      <div class="vertical verticalCenter"></div>
      <!-- <div class="vertical verticalRightCenter"></div>
      <div class="vertical verticalRight"></div> -->

      <div class="buttons">
        <a href="{{ real_world.btn_link_1 }}" class="button">{{ real_world.btn_text_1 }}</a>
        <a href="{{ real_world.btn_link_2 }}" class="button">{{ real_world.btn_text_2 }}</a>
      </div>

    </div>

  </section>



</div>

{% endblock %}
