{% extends "base.twig" %}

{% block content %}
	<div class="single-blog-page">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div style="background-image: url('{{ post.thumbnail.src }}');" class="hero-img"></div>
			<!-- <img src="{{ post.thumbnail.src }}" alt="{{ post.thumbnail.alt }}" class="hero-img"> -->
			<a href="{{ site.link }}/blog" class="back-link">< Back to Blog</a>
			<section class="article-content">
				<h1 class="article-h1 blog-title">{{ post.title }}</h1>
				<!-- <a href="{{ post.link }}">{{ _e('edit') }}</a> -->
				<!-- <p class="blog-author">
					<span>By</span><a href="{{ post.author.path }}"> {{ post.author.name }} </a><span>&bull;</span> {{ post.date }}
				</p> -->
				<div class="article-body blog-body bodyText">
					{{ post.content }}
				</div>
			</section>
		</article>
		<div class="prev-next">
			{% if post.prev %}
			<a href="{{ post.prev.link }}" class="prev">< &nbsp;Previous Post</a>
			{% endif %}
			{% if post.next %}
			<a href="{{ post.next.link }}" class="next">Next Post&nbsp; ></a>
			{% endif %}
		</div>
	</div><!-- single-blog-page -->
{% endblock %}
