<div class="stationaryNav">
  <div class="links">
    {% for item in mininav.items%}
    <a href="{{ item.link }}">{{ item.title }}</a>
    {% endfor %}
  </div>

  <a href="{{ site.link }}" class="logo">
    <img src="{{ site.link }}/wp-content/uploads/2019/12/BuildWitt-Logo_black.svg" alt="BuildWitt Logo">
  </a>

  <div class="burgerWrap mobileOnly">
    <i class="fas fa-bars fa-2x"></i>
  </div>
</div>
