<div class="stickyNav desktopOnly">

  <div class="wrap">
    <a href="{{ site.link }}" class="logo">
      <img src="{{ site.link }}/wp-content/uploads/2019/12/BuildWitt-Logo_black.svg" alt="BuildWitt Logo">
    </a>
    <i class="fas fa-bars fa-2x" id="stickyNavTrigger"></i>
  </div>

</div>
