/* !
 Theme Name: alex-timber
 Theme URI: http://underscores.me/
 Author: Alex Horton
 Author URI: http://underscores.me/
 Description: A boilerplate setup
 Version: 1.0.0
 License: GNU General Public License v2 or later
 License URI: LICENSE
 Text Domain: alex-twig
 Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

 This theme, like WordPress, is licensed under the GPL.
 Use it to make something cool, have fun, and share what you've learned with others.

 New Astute is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
 Underscores is distributed under the terms of the GNU GPL v2 or later.

 Normalizing styles have been helped along thanks to the fine work of
 Nicolas Gallagher and Jonathan Neal https: */
@font-face {
  font-family: "Miller Italic";
  src: url("fonts/MillerText-Italic.otf") format("opentype"); }

* {
  color: #2b2929; }

body {
  margin: 0; }

.yellow {
  color: #f9ac1b; }

.italic {
  font-family: "Miller Italic"; }

h1, h2 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700; }

h1 {
  font-size: 3rem; }

@media screen and (min-width: 900px) {
  h1 {
    font-size: 4rem; } }

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 5rem; } }

h2 {
  font-size: 2rem;
  margin-top: 0;
  letter-spacing: 1px; }

@media screen and (min-width: 900px) {
  h2 {
    font-size: 2.5rem; } }

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3.5rem; } }

h3 {
  font-size: 1.6rem;
  letter-spacing: 1px; }

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 1px; }

a {
  text-decoration: none;
  font-family: "Open Sans", sans-serif; }

.header {
  width: 100vw; }

#footer {
  z-index: 101;
  position: absolute;
  width: 100vw;
  background-color: #2b2929; }

.button {
  border: 3px solid #2b2929;
  padding: 8px 12px;
  text-transform: capitalize;
  transition: 0.3s;
  display: inline;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 1px; }
  .button:hover {
    transition: 0.3s; }

.thinUppercase {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  letter-spacing: 3px; }

.crosshair {
  display: grid;
  grid: 30px / 30px; }
  .crosshair .vert {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: #fff;
    height: 30px;
    width: 2px;
    justify-self: center; }
  .crosshair .horiz {
    grid-area: 1 / 1 / span 1 / span 1;
    background-color: #fff;
    width: 30px;
    height: 2px;
    align-self: center; }

.crosshair.yellow .vert, .crosshair.yellow .horiz {
  background-color: #f9ac1b; }

.crosshair.animation {
  transform: rotate(270deg);
  transition: transform 1s ease-in-out; }

.crosshair.animation.done {
  transform: rotate(0deg);
  transition: transform 1s ease-in-out; }

.stationaryNav {
  display: grid;
  grid: auto auto / auto;
  padding: 15px 0;
  height: 50px;
  position: fixed;
  z-index: 100;
  background-color: #fff;
  width: 100%; }
  .stationaryNav .links {
    grid-area: 2 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    margin: 0 auto;
    display: none; }
    .stationaryNav .links a {
      font-size: .85rem;
      font-weight: 600;
      letter-spacing: 1px; }
    @media screen and (min-width: 900px) {
      .stationaryNav .links a {
        margin-right: 20px; } }
  @media screen and (min-width: 900px) {
    .stationaryNav .links {
      display: flex;
      grid-area: 1 / 1 / span 1 / span 1;
      align-self: center;
      width: 100%;
      margin: 0;
      justify-content: flex-start;
      padding-left: 1.5%; } }
  .stationaryNav .logo {
    grid-area: 1 / 1 / span 2 / span 1;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px; }
    .stationaryNav .logo img {
      width: 130px; }
    @media screen and (min-width: 900px) {
      .stationaryNav .logo img {
        width: 150px; } }
  @media screen and (min-width: 900px) {
    .stationaryNav .logo {
      grid-area: 1 / 1 / span 1 / span 1;
      margin: 0;
      justify-self: center; } }
  .stationaryNav .burgerWrap {
    grid-area: 1 / 1 / span 2 / span 1;
    align-self: center;
    justify-self: end;
    margin-right: 10px; }
  @media screen and (min-width: 900px) {
    .stationaryNav .burgerWrap {
      display: none; } }

@media screen and (min-width: 900px) {
  .stationaryNav {
    position: inherit;
    grid: auto / auto;
    height: 60px;
    z-index: 1;
    max-width: 100vw;
    overflow: hidden; } }

.stickyNav {
  height: 100vh;
  position: fixed;
  z-index: 100;
  width: 100px;
  background-color: #fff;
  transform: translate(-100%);
  transition: transform 0.2s ease-in;
  padding-top: 150px;
  top: 0; }
  .stickyNav .wrap {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .stickyNav .wrap a.logo {
      margin-bottom: 150px; }
      .stickyNav .wrap a.logo img {
        transform: rotate(-90deg);
        margin-bottom: 50px;
        width: 150px; }

.showStickyNav {
  transform: translate(0);
  transition: transform 0.4s ease-in; }

.footer-wrap {
  padding: 25px 0 10px; }
  .footer-wrap .links {
    -moz-column-count: 2;
         column-count: 2;
    width: 85%;
    margin: 0 auto 30px; }
    .footer-wrap .links a {
      color: #dbdbdb;
      display: block;
      margin-bottom: 15px;
      font-size: 1rem;
      font-weight: 300; }
  @media screen and (min-width: 900px) {
    .footer-wrap .links {
      -moz-column-count: 4;
           column-count: 4;
      margin-bottom: 0;
      width: 75%;
      justify-self: flex-end; } }
  .footer-wrap .copyright {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer-wrap .copyright a {
      color: #fff; }
      .footer-wrap .copyright a img {
        width: 100px; }
  @media screen and (min-width: 900px) {
    .footer-wrap .copyright {
      align-items: center; } }

@media screen and (min-width: 900px) {
  .footer-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto; } }

.homepage section.hero {
  margin: 0 10px 10px;
  height: calc(100vh - 10px);
  display: grid;
  grid: 1fr / 1fr; }
  .homepage section.hero .img {
    grid-area: 1 / 1 / span 1 / span 1;
    background-size: cover;
    background-position: center center;
    z-index: 1; }
  .homepage section.hero .grid {
    z-index: 2;
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    grid: 3fr 1px 1fr / 1fr 1px 1fr; }
    .homepage section.hero .grid .horizontal, .homepage section.hero .grid .vertical {
      background-color: #dbdbdb;
      opacity: 0.3; }
    .homepage section.hero .grid .horizontal1 {
      grid-area: 2 / 1 / span 1 / span 3; }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .horizontal1 {
        grid-area: 2 / 1 / span 1 / span 11; } }
    .homepage section.hero .grid .horizontal2 {
      display: none; }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .horizontal2 {
        display: block;
        grid-area: 4 / 1 / span 1 / span 11; } }
    .homepage section.hero .grid .vertical {
      display: none; }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .vertical {
        display: block; } }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .verticalLeft {
        grid-area: 1 / 2 / span 5 / span 1; } }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .verticalLeftCenter {
        grid-area: 1 / 4 / span 5 / span 1; } }
    .homepage section.hero .grid .verticalCenter {
      display: block;
      grid-area: 1 / 2 / span 3 / span 1; }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .verticalCenter {
        grid-area: 1 / 6 / span 5 / span 1; } }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .verticalRightCenter {
        grid-area: 1 / 8 / span 5 / span 1; } }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .verticalRight {
        grid-area: 1 / 10 / span 5 / span 1; } }
    .homepage section.hero .grid .crosshair {
      grid-area: 2 / 2 / span 1 / span 1;
      align-self: center;
      justify-self: center; }
    .homepage section.hero .grid .heroH1 {
      grid-area: 1 / 1 / span 3 / span 3;
      align-self: center;
      width: 80%;
      justify-self: center; }
      .homepage section.hero .grid .heroH1 .stationaryH1 {
        color: #fff;
        padding-top: 25px;
        margin-bottom: 0; }
        .homepage section.hero .grid .heroH1 .stationaryH1 .transparentSpacer {
          display: none; }
        @media screen and (min-width: 900px) {
          .homepage section.hero .grid .heroH1 .stationaryH1 .transparentSpacer {
            display: inline;
            opacity: 0;
            margin-right: 25px; } }
      @media screen and (min-width: 900px) {
        .homepage section.hero .grid .heroH1 .stationaryH1 {
          margin: 0;
          padding-top: 0; } }
      .homepage section.hero .grid .heroH1 .cycleWrap {
        display: inline; }
        .homepage section.hero .grid .heroH1 .cycleWrap .cyclingWord {
          color: #f9ac1b;
          -webkit-animation: topToBottom 10s ease-in-out infinite 0s;
                  animation: topToBottom 10s ease-in-out infinite 0s;
          -webkit-animation-delay: 0s;
                  animation-delay: 0s;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          margin: 0;
          text-transform: capitalize; }
          .homepage section.hero .grid .heroH1 .cycleWrap .cyclingWord:nth-child(2) {
            -webkit-animation-delay: 2.5s;
                    animation-delay: 2.5s; }
          .homepage section.hero .grid .heroH1 .cycleWrap .cyclingWord:nth-child(3) {
            -webkit-animation-delay: 5s;
                    animation-delay: 5s; }

@-webkit-keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    transform: translateY(-50px); }
  10% {
    opacity: 1;
    transform: translateY(0px); }
  25% {
    opacity: 1;
    transform: translateY(0px); }
  30% {
    opacity: 0;
    transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes topToBottom {
  0% {
    opacity: 0; }
  5% {
    opacity: 0;
    transform: translateY(-50px); }
  10% {
    opacity: 1;
    transform: translateY(0px); }
  25% {
    opacity: 1;
    transform: translateY(0px); }
  30% {
    opacity: 0;
    transform: translateY(50px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .heroH1 {
        grid-area: 3 / 3 / span 3 / span 6;
        width: 100%;
        align-self: start; } }
    .homepage section.hero .grid .digIn {
      grid-area: 1 / 3 / span 3 / span 1;
      align-self: end;
      padding-bottom: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      -webkit-animation: bounce 2s ease-in-out 2s infinite;
              animation: bounce 2s ease-in-out 2s infinite; }
      .homepage section.hero .grid .digIn .thinUppercase {
        color: #fff;
        transform: rotate(-90deg);
        margin-bottom: 30px; }
      .homepage section.hero .grid .digIn img {
        width: 65px; }

@-webkit-keyframes bounce {
  0% {
    padding-bottom: 20px; }
  30% {
    padding-bottom: 30px; }
  50% {
    padding-bottom: 20px; }
  100% {
    padding-bottom: 20px; } }

@keyframes bounce {
  0% {
    padding-bottom: 20px; }
  30% {
    padding-bottom: 30px; }
  50% {
    padding-bottom: 20px; }
  100% {
    padding-bottom: 20px; } }
    @media screen and (min-width: 800px) {
      .homepage section.hero .grid .digIn {
        justify-self: end;
        grid-area: 3 / 11 / span 3 / span 1;
        margin-right: 10px; } }
  @media screen and (min-width: 800px) {
    .homepage section.hero .grid {
      grid: 2fr 1px 2fr 1px 1fr / 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr; } }

@media screen and (min-width: 800px) {
  .homepage section.hero {
    height: calc(100vh - 80px - 10px);
    margin-bottom: 0; } }

.homepage section.dirtWorld .grid {
  width: 100%;
  display: grid;
  grid: 50px auto auto auto 50px / 1fr 1px 1fr; }
  .homepage section.dirtWorld .grid .vertical {
    background-color: #ededed;
    opacity: 0.3;
    display: none; }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .vertical {
      display: block; } }
  .homepage section.dirtWorld .grid .verticalCenter {
    display: block;
    grid-area: 1 / 2 / span 5 / span 1;
    opacity: 0.8; }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .verticalLeft {
      display: none; } }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .verticalLeftCenter {
      grid-area: 1 / 5 / span 5 / span 1; } }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .verticalCenter {
      grid-area: 1 / 7 / span 5 / span 1; } }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .verticalRightCenter {
      grid-area: 1 / 9 / span 2 / span 1; } }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .verticalRight {
      grid-area: 1 / 11 / span 2 / span 1; } }
  .homepage section.dirtWorld .grid .crosshair {
    display: none; }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .crosshair {
      grid-area: 2 / 6 / span 1 / span 3;
      z-index: 2;
      justify-self: center;
      align-self: center;
      display: grid; }
      .homepage section.dirtWorld .grid .crosshair .vert, .homepage section.dirtWorld .grid .crosshair .horiz {
        background-color: #f9ac1b; } }
  .homepage section.dirtWorld .grid .text {
    grid-area: 2 / 1 / span 1 / span 3;
    width: 85%;
    justify-self: center;
    margin-bottom: 50px; }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .text {
      grid-area: 3 / 8 / span 1 / span 5;
      justify-self: start; } }
  .homepage section.dirtWorld .grid .imgBlock {
    grid-area: 3 / 1 / span 1 / span 3;
    z-index: 1;
    margin-bottom: 50px; }
    .homepage section.dirtWorld .grid .imgBlock .img {
      height: 250px;
      background-size: cover;
      background-position: center center; }
    @media screen and (min-width: 900px) {
      .homepage section.dirtWorld .grid .imgBlock .img {
        height: auto;
        grid-area: 1 / 1 / span 1 / span 6;
        margin-left: 100px;
        background-position: 65% center; } }
    @media screen and (min-width: 900px) {
      .homepage section.dirtWorld .grid .imgBlock .triangle {
        grid-area: 1 / 6 / span 1 / span 1;
        background-color: #fff;
        z-index: 1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%); } }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .imgBlock {
      grid-area: 2 / 1 / span 4 / span 6;
      margin-bottom: 0;
      display: grid;
      grid: auto / 10px 1fr 1px 1fr 1px 1fr; } }
  .homepage section.dirtWorld .grid .quoteBlock {
    padding: 35px 0;
    grid-area: 4 / 1 / span 1 / span 3;
    width: 85%;
    justify-self: center;
    display: grid;
    grid: auto auto / auto; }
    .homepage section.dirtWorld .grid .quoteBlock img {
      width: 75px;
      grid-area: 1 / 1 / span 1 / span 1; }
    @media screen and (min-width: 900px) {
      .homepage section.dirtWorld .grid .quoteBlock img {
        width: 100px; } }
    .homepage section.dirtWorld .grid .quoteBlock .quote {
      font-family: "Miller Italic";
      grid-area: 1 / 1 / span 1 / span 1;
      margin-left: 25px;
      align-self: center;
      font-size: 1.5rem; }
    @media screen and (min-width: 900px) {
      .homepage section.dirtWorld .grid .quoteBlock .quote {
        font-size: 2rem;
        margin-left: 35px; } }
    .homepage section.dirtWorld .grid .quoteBlock .attr {
      grid-area: 2 / 1 / span 1 / span 1;
      justify-self: end;
      color: #f9ac1b; }
  @media screen and (min-width: 900px) {
    .homepage section.dirtWorld .grid .quoteBlock {
      grid-area: 4 / 6 / span 1 / span 7;
      z-index: 2;
      justify-self: center;
      width: 85%;
      max-width: 600px;
      margin-left: 75px; } }

@media screen and (min-width: 900px) {
  .homepage section.dirtWorld .grid {
    grid: 100px 70px auto auto 100px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px; } }

.homepage section.productionProfit .grid {
  width: 100%;
  display: grid;
  grid: auto auto auto 50px / 1fr 1px 1fr; }
  .homepage section.productionProfit .grid .vertical {
    background-color: #dbdbdb;
    opacity: 0.5;
    display: none; }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .vertical {
      display: block; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .verticalLeft {
      grid-area: 1 / 3 / span 5 / span 1;
      z-index: 100; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .verticalLeftCenter {
      display: none; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .verticalCenter {
      display: none; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .verticalRightCenter {
      display: none; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .verticalRight {
      display: none; } }
  .homepage section.productionProfit .grid .crosshair {
    display: none; }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .crosshair {
      grid-area: 2 / 2 / span 1 / span 3;
      z-index: 2;
      justify-self: center;
      align-self: end;
      display: grid; }
      .homepage section.productionProfit .grid .crosshair .vert, .homepage section.productionProfit .grid .crosshair .horiz {
        background-color: #f9ac1b; } }
  .homepage section.productionProfit .grid .text {
    grid-area: 1 / 1 / span 2 / span 3;
    width: 85%;
    justify-self: center;
    margin: 100px 0; }
    @media screen and (min-width: 900px) {
      .homepage section.productionProfit .grid .text .bodyText {
        max-width: 500px; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .text {
      grid-area: 3 / 4 / span 1 / span 5;
      justify-self: start;
      margin-top: 0;
      margin-bottom: 40px;
      width: 100%; } }
  .homepage section.productionProfit .grid .imgBlock {
    grid-area: 3 / 1 / span 2 / span 3;
    z-index: 1; }
    .homepage section.productionProfit .grid .imgBlock .img {
      height: 300px;
      background-size: cover;
      background-position: center center; }
    @media screen and (min-width: 900px) {
      .homepage section.productionProfit .grid .imgBlock .img {
        height: auto;
        grid-area: 1 / 1 / span 1 / span 6;
        width: calc(100% - 1px);
        justify-self: end;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        background-position: 0% center; } }
    @media screen and (min-width: 1200px) {
      .homepage section.productionProfit .grid .imgBlock .img {
        height: auto;
        grid-area: 1 / 1 / span 1 / span 6;
        width: calc(100% - 2px);
        justify-self: end;
        background-repeat: no-repeat;
        transform: scaleX(-1);
        background-position: 0% center; } }
    @media screen and (min-width: 900px) {
      .homepage section.productionProfit .grid .imgBlock .triangle {
        grid-area: 1 / 1 / span 1 / span 1;
        background-color: #ededed;
        z-index: 1;
        -webkit-clip-path: polygon(0 100%, 0 0, 100% 0);
                clip-path: polygon(0 100%, 0 0, 100% 0);
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .homepage section.productionProfit .grid .imgBlock .triangle .whiteBar {
          height: 100px;
          width: 100%;
          background-color: #fff; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .imgBlock {
      grid-area: 1 / 10 / span 4 / span 4;
      margin-bottom: 0;
      display: grid;
      grid: auto / 1fr 1px 1fr 1px 1fr 10px; } }
  .homepage section.productionProfit .grid .greyBox {
    background-color: #ededed;
    grid-area: 1 / 1 / span 4 / span 3; }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .greyBox {
      grid-area: 2 / 1 / span 4 / span 13; } }
  .homepage section.productionProfit .grid .bigText {
    grid-area: 3 / 1 / span 2 / span 3;
    z-index: 2;
    background-color: rgba(43, 41, 41, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden; }
    .homepage section.productionProfit .grid .bigText .line {
      width: 95%;
      margin: 0 auto;
      display: grid;
      grid: auto / auto; }
      .homepage section.productionProfit .grid .bigText .line h1 {
        max-width: 95%;
        margin: 0;
        text-align: right;
        margin-left: auto;
        opacity: 0.7;
        color: #dbdbdb;
        text-transform: uppercase;
        display: inline;
        grid-area: 1 / 1 / span 1 / span 1;
        justify-self: end; }
      @media screen and (min-width: 900px) {
        .homepage section.productionProfit .grid .bigText .line h1 {
          color: #2b2929;
          opacity: 0.5;
          font-size: 5.5rem;
          margin-left: 0;
          text-align: center;
          max-width: none;
          line-height: 1; } }
      @media screen and (min-width: 1200px) {
        .homepage section.productionProfit .grid .bigText .line h1 {
          font-size: 7.5rem; } }
      .homepage section.productionProfit .grid .bigText .line .crossout {
        background-color: #f9ac1b;
        grid-area: 1 / 1 / span 1 / span 1;
        align-self: center;
        height: 10px;
        width: 100%;
        z-index: 1; }
    @media screen and (min-width: 900px) {
      .homepage section.productionProfit .grid .bigText .line {
        justify-content: end;
        margin: 0; } }
    .homepage section.productionProfit .grid .bigText .topLine .crossout {
      transform: translate(-100%);
      opacity: .5;
      transition: transform 0.5s ease-in; }
    .homepage section.productionProfit .grid .bigText .topLine .slideInCrossOut {
      transform: translate(0);
      opacity: 1;
      transition: transform 0.5s ease-in; }
    .homepage section.productionProfit .grid .bigText .bottomLine .crossout {
      width: 175px;
      justify-self: end;
      transform: translate(100%);
      transition: transform 0.5s ease-in;
      opacity: 0.5; }
    .homepage section.productionProfit .grid .bigText .bottomLine .slideInCrossOut {
      transform: translate(0);
      opacity: 1;
      transition: transform 0.5s ease-in; }
    @media screen and (min-width: 900px) {
      .homepage section.productionProfit .grid .bigText .bottomLine .crossout {
        width: 100%; } }
  @media screen and (min-width: 900px) {
    .homepage section.productionProfit .grid .bigText {
      grid-area: 4 / 4 / span 1 / span 9;
      background-color: transparent;
      margin-right: 55px; } }
  @media screen and (min-width: 1200px) {
    .homepage section.productionProfit .grid .bigText {
      margin-bottom: 50px; } }

@media screen and (min-width: 900px) {
  .homepage section.productionProfit .grid {
    grid: 100px 125px auto auto 100px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px; } }

@media screen and (min-width: 900px) {
  .homepage section.productionProfit {
    margin-top: -100px; } }

.homepage section.people {
  margin-top: -50px;
  margin-bottom: -50px; }
  .homepage section.people .grid {
    width: 100%;
    display: grid;
    grid: 50px auto 50px / 1fr 1px 1fr; }
    .homepage section.people .grid .vertical {
      background-color: #dbdbdb;
      opacity: 0.5; }
    @media screen and (min-width: 900px) {
      .homepage section.people .grid .vertical {
        display: block; } }
    .homepage section.people .grid .verticalCenter {
      grid-area: 1 / 2 / span 2 / span 1; }
    @media screen and (min-width: 900px) {
      .homepage section.people .grid .verticalCenter {
        grid-area: 2 / 7 / span 1 / span 1; } }
    @media screen and (min-width: 1200px) {
      .homepage section.people .grid .verticalCenter {
        grid-area: 2 / 7 / span 2 / span 1; } }
    .homepage section.people .grid .crosshair {
      grid-area: 1 / 1 / span 2 / span 3;
      align-self: start;
      justify-self: center;
      z-index: 2;
      margin-top: 100px; }
    @media screen and (min-width: 900px) {
      .homepage section.people .grid .crosshair {
        grid-area: 2 / 6 / span 1 / span 3;
        justify-self: center;
        align-self: start;
        margin-top: 230px; } }
    @media screen and (min-width: 1050px) {
      .homepage section.people .grid .crosshair {
        margin-top: 0;
        margin-bottom: 100px;
        align-self: center; } }
    .homepage section.people .grid .text {
      grid-area: 1 / 1 / span 3 / span 3;
      width: 65%;
      justify-self: end;
      margin-right: 20px;
      align-self: center;
      z-index: 2; }
    @media screen and (min-width: 900px) {
      .homepage section.people .grid .text {
        grid-area: 2 / 8 / span 1 / span 5;
        justify-self: center;
        align-self: center;
        margin-top: 30px;
        width: 65%;
        margin-left: auto;
        margin-right: 0; } }
    @media screen and (min-width: 1050px) {
      .homepage section.people .grid .text {
        margin-right: 15px;
        width: 75%; } }
    @media screen and (min-width: 1200px) {
      .homepage section.people .grid .text {
        width: 85%; } }
    .homepage section.people .grid .image-grid {
      display: flex;
      flex-direction: column;
      grid-area: 1 / 1 / span 3 / span 1; }
      .homepage section.people .grid .image-grid .headshot {
        width: 100px;
        height: 100px;
        margin-bottom: 25px;
        background-size: cover;
        background-position: center;
        z-index: 2;
        display: none; }
        .homepage section.people .grid .image-grid .headshot:last-child {
          margin-bottom: 0; }
        .homepage section.people .grid .image-grid .headshot:nth-child(-n+6) {
          display: block; }
      .homepage section.people .grid .image-grid .filler {
        display: none !important; }
      @media screen and (min-width: 900px) {
        .homepage section.people .grid .image-grid .filler {
          display: block !important; } }
      @media screen and (min-width: 900px) {
        .homepage section.people .grid .image-grid .headshot {
          display: block;
          width: 150px;
          height: 150px;
          margin: 5px; } }
      @media screen and (min-width: 1200px) {
        .homepage section.people .grid .image-grid .headshot {
          width: 220px;
          height: 220px; } }
    @media screen and (min-width: 900px) {
      .homepage section.people .grid .image-grid {
        grid-area: 1 / 2 / span 3 / span 5;
        flex-direction: row;
        flex-wrap: wrap;
        width: 480px;
        margin-left: 95px; } }
    @media screen and (min-width: 1200px) {
      .homepage section.people .grid .image-grid {
        width: 690px;
        margin-bottom: 40px; } }
  @media screen and (min-width: 900px) {
    .homepage section.people .grid {
      grid: 50px auto 50px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px; } }
  @media screen and (min-width: 1200px) {
    .homepage section.people .grid {
      grid: 100px auto 100px / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px; } }

@media screen and (min-width: 1200px) {
  .homepage section.people {
    margin-top: -100px;
    margin-bottom: 0; } }

.homepage section.mission {
  background-color: #2b2929; }
  .homepage section.mission .grid {
    width: 100%;
    display: grid;
    grid: 100px auto auto 100px / 1fr 1px 1fr; }
    .homepage section.mission .grid .horizontal, .homepage section.mission .grid .vertical {
      background-color: #dbdbdb;
      opacity: 0.3;
      display: none; }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .vertical, .homepage section.mission .grid .horizontal {
        display: block; } }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .horizontal1 {
        grid-area: 2 / 1 / span 1 / span 13; } }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .horizontal2 {
        grid-area: 4 / 1 / span 1 / span 13; } }
    .homepage section.mission .grid .vertical {
      background-color: #ededed;
      opacity: 0.3; }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .verticalLeft {
        grid-area: 1 / 3 / span 5 / span 1; } }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .verticalRight {
        grid-area: 1 / 11 / span 3 / span 1; } }
    .homepage section.mission .grid .crosshair {
      display: none; }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .crosshair {
        z-index: 2;
        justify-self: center;
        align-self: center;
        display: grid; }
        .homepage section.mission .grid .crosshair .vert, .homepage section.mission .grid .crosshair .horiz {
          background-color: #f9ac1b; }
      .homepage section.mission .grid #crosshair1 {
        grid-area: 2 / 2 / span 1 / span 3; }
      .homepage section.mission .grid #crosshair2 {
        grid-area: 2 / 10 / span 1 / span 3; }
      .homepage section.mission .grid #crosshair3 {
        grid-area: 4 / 2 / span 1 / span 3; }
      .homepage section.mission .grid #crosshair4 {
        grid-area: 4 / 10 / span 1 / span 3; } }
    .homepage section.mission .grid .text {
      grid-area: 2 / 1 / span 1 / span 3;
      width: 85%;
      justify-self: center;
      margin-bottom: 50px; }
      .homepage section.mission .grid .text h3 {
        margin-bottom: 15px;
        margin-top: 0; }
      .homepage section.mission .grid .text h2 {
        color: #fff; }
      @media screen and (min-width: 900px) {
        .homepage section.mission .grid .text h2 {
          font-size: 3.5rem;
          line-height: 1.2;
          margin-bottom: 20px; } }
      @media screen and (min-width: 1200px) {
        .homepage section.mission .grid .text h2 {
          font-size: 4.5rem; } }
      .homepage section.mission .grid .text .bodyText {
        color: #fff; }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .text {
        grid-area: 3 / 4 / span 1 / span 7;
        justify-self: start;
        margin-left: 30px;
        width: 100%; } }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .text {
        width: 90%; } }
    .homepage section.mission .grid .influence {
      grid-area: 3 / 1 / span 1 / span 3;
      width: 85%;
      margin: 0 auto; }
      .homepage section.mission .grid .influence .ourInfluence {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        max-width: 280px; }
        .homepage section.mission .grid .influence .ourInfluence p {
          color: #f9ac1b; }
        .homepage section.mission .grid .influence .ourInfluence img {
          height: 60px;
          align-self: flex-end;
          margin-top: -20px; }
      @media screen and (min-width: 1200px) {
        .homepage section.mission .grid .influence .ourInfluence {
          grid-area: 1 / 1 / span 1 / span 2;
          align-self: center;
          flex-direction: row;
          z-index: 3;
          max-width: none;
          margin-bottom: 0; } }
      .homepage section.mission .grid .influence .linkBlock .yellowBorder {
        border: 3px solid #f9ac1b;
        padding: 20px 5%;
        background-color: #2b2929; }
        .homepage section.mission .grid .influence .linkBlock .yellowBorder p {
          color: #fff;
          font-weight: 600;
          margin-bottom: 45px;
          font-size: 1.2rem; }
        .homepage section.mission .grid .influence .linkBlock .yellowBorder .buttons {
          display: flex;
          flex-direction: column; }
          .homepage section.mission .grid .influence .linkBlock .yellowBorder .buttons .button {
            margin-bottom: 35px;
            border-color: #fff;
            color: #f9ac1b;
            width: auto;
            text-align: center;
            width: 50%;
            align-self: center; }
            .homepage section.mission .grid .influence .linkBlock .yellowBorder .buttons .button:hover {
              background-color: #fff; }
          @media screen and (min-width: 900px) {
            .homepage section.mission .grid .influence .linkBlock .yellowBorder .buttons .button {
              width: 18%;
              max-width: 145px;
              margin-bottom: 0;
              align-self: auto; } }
        @media screen and (min-width: 900px) {
          .homepage section.mission .grid .influence .linkBlock .yellowBorder .buttons {
            flex-direction: row;
            justify-content: space-between; } }
      @media screen and (min-width: 900px) {
        .homepage section.mission .grid .influence .linkBlock .yellowBorder {
          background-color: #2b2929;
          border-right-width: 0px;
          padding-left: 60px;
          max-width: 575px;
          margin-right: 0;
          margin-left: auto; } }
      @media screen and (min-width: 900px) {
        .homepage section.mission .grid .influence .linkBlock {
          z-index: 2; } }
      @media screen and (min-width: 1200px) {
        .homepage section.mission .grid .influence .linkBlock {
          grid-area: 1 / 2 / span 1 / span 2;
          align-self: center; } }
    @media screen and (min-width: 900px) {
      .homepage section.mission .grid .influence {
        grid-area: 5 / 6 / span 1 / span 8;
        align-self: center;
        width: 100%;
        margin: 60px 0 100px; } }
    @media screen and (min-width: 1200px) {
      .homepage section.mission .grid .influence {
        display: grid;
        grid: auto / auto 40px auto; } }
  @media screen and (min-width: 900px) {
    .homepage section.mission .grid {
      grid: 100px 1px 3fr 1px auto / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px; } }

.homepage section.realWorld .grid {
  width: 100%;
  display: grid;
  grid: 100px 1px auto auto / 1fr 1px 1fr; }
  .homepage section.realWorld .grid .horizontal, .homepage section.realWorld .grid .vertical {
    background-color: #dbdbdb;
    opacity: 0.3; }
  .homepage section.realWorld .grid .horizontal {
    grid-area: 2 / 1 / span 1 / span 3; }
  @media screen and (min-width: 900px) {
    .homepage section.realWorld .grid .horizontal {
      grid-area: 3 / 7 / span 1 / span 7; } }
  .homepage section.realWorld .grid .verticalCenter {
    grid-area: 1 / 2 / span 4 / span 1; }
  @media screen and (min-width: 900px) {
    .homepage section.realWorld .grid .verticalCenter {
      grid-area: 2 / 7 / span 3 / span 1; } }
  .homepage section.realWorld .grid .crosshair {
    grid-area: 2 / 1 / span 2 / span 3;
    justify-content: center;
    margin-top: -15px; }
  @media screen and (min-width: 900px) {
    .homepage section.realWorld .grid .crosshair {
      grid-area: 3 / 6 / span 2 / span 3;
      z-index: 2;
      justify-self: center;
      align-self: start;
      display: grid; }
      .homepage section.realWorld .grid .crosshair .vert, .homepage section.realWorld .grid .crosshair .horiz {
        background-color: #f9ac1b; } }
  .homepage section.realWorld .grid .imgBlock {
    grid-area: 4 / 1 / span 1 / span 3;
    z-index: 1;
    display: grid;
    grid: auto / auto; }
    .homepage section.realWorld .grid .imgBlock .img {
      grid-area: 1 / 1 / span 1 / span 1;
      height: 300px;
      background-size: cover;
      background-position: center center; }
    @media screen and (min-width: 900px) {
      .homepage section.realWorld .grid .imgBlock .img {
        height: auto;
        grid-area: 1 / 1 / span 1 / span 6;
        margin-left: 100px;
        background-position: 65% center;
        background-repeat: no-repeat; } }
    .homepage section.realWorld .grid .imgBlock .triangle {
      grid-area: 1 / 1 / span 1 / span 1;
      background-color: rgba(43, 41, 41, 0.7); }
    @media screen and (min-width: 900px) {
      .homepage section.realWorld .grid .imgBlock .triangle {
        grid-area: 1 / 6 / span 1 / span 1;
        background-color: #fff;
        z-index: 1;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%);
                clip-path: polygon(0 0, 100% 0, 100% 100%);
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        .homepage section.realWorld .grid .imgBlock .triangle .blackBar {
          background-color: #2b2929;
          height: 100px; } }
  @media screen and (min-width: 900px) {
    .homepage section.realWorld .grid .imgBlock {
      grid-area: 1 / 1 / span 4 / span 6;
      margin-bottom: 0;
      display: grid;
      grid: auto / 10px 1fr 1px 1fr 1px 1fr; } }
  .homepage section.realWorld .grid .text {
    grid-area: 3 / 1 / span 1 / span 3;
    width: 85%;
    justify-self: center;
    margin-bottom: 45px;
    margin-top: 45px; }
    @media screen and (min-width: 1200px) {
      .homepage section.realWorld .grid .text h2 {
        font-size: 2.5rem; } }
  @media screen and (min-width: 900px) {
    .homepage section.realWorld .grid .text {
      width: 90%;
      grid-area: 4 / 8 / span 1 / span 5;
      margin: 0;
      margin-top: 25px;
      justify-self: start; } }
  @media screen and (min-width: 1200px) {
    .homepage section.realWorld .grid .text {
      grid-area: 4 / 8 / span 1 / span 4; } }
  .homepage section.realWorld .grid .buttons {
    grid-area: 4 / 1 / span 1 / span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2; }
    .homepage section.realWorld .grid .buttons .button {
      border-color: #f9ac1b;
      color: #fff;
      font-size: 1.4rem;
      text-align: center;
      width: 85%; }
      .homepage section.realWorld .grid .buttons .button:first-child {
        margin-bottom: 35px; }
    @media screen and (min-width: 900px) {
      .homepage section.realWorld .grid .buttons .button {
        color: #2b2929;
        font-size: 1.2rem;
        font-weight: 700;
        max-width: 260px;
        padding: 18px 12px; }
        .homepage section.realWorld .grid .buttons .button:hover {
          background-color: #f9ac1b; } }
    @media screen and (min-width: 1050px) {
      .homepage section.realWorld .grid .buttons .button {
        width: 40%; }
        .homepage section.realWorld .grid .buttons .button:first-child {
          margin-bottom: 0;
          margin-right: 25px; } }
  @media screen and (min-width: 900px) {
    .homepage section.realWorld .grid .buttons {
      grid-area: 4 / 8 / span 1 / span 5;
      margin-top: 250px;
      margin-bottom: 150px; } }
  @media screen and (min-width: 1050px) {
    .homepage section.realWorld .grid .buttons {
      flex-direction: row;
      justify-content: flex-start; } }
  @media screen and (min-width: 1150px) {
    .homepage section.realWorld .grid .buttons {
      margin-top: 300px; } }

@media screen and (min-width: 900px) {
  .homepage section.realWorld .grid {
    grid: 100px 150px 1px auto / 10px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 1px 1fr 10px; } }

@media screen and (min-width: 900px) {
  .homepage section.realWorld {
    margin-top: -100px; } }

#content {
  min-height: 100vh; }

@media screen and (min-width: 800px) {
  #content {
    padding-top: 80px; } }

@media screen and (min-width: 900px) {
  #content {
    padding-top: 0; } }

@media screen and (min-width: 900px) {
  .mobileOnly {
    display: none !important; } }

@media screen and (max-width: 900px) {
  .desktopOnly {
    display: none !important; } }
